<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1> Livros </h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
            <for|livro| of=data.livros>
                <tr>
                    <td>${livro.id}</td>
                    <td>${livro.titulo}</td>
                </tr>
            </for>
            </tbody>
        </table>
    </body>
</html>